/* Write your CSS here */
.notFound-container {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-style-notfound {
  font-family: 'Bree Serif';
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
